openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: https://dip-stg.di.atlas.samsung.com
    description: Generated server url
tags:
  - name: Target Sources
    description: Target source query and management APIs
  - name: Scan Jobs
    description: Cloud resource scan job APIs
  - name: Resource Recommendations
    description: AWS/Azure/GCP resource recommendation APIs
  - name: Approval Requests
    description: Approval request lifecycle APIs
  - name: Installation Status
    description: Installation status, process status, confirmed integration, and health check APIs
  - name: Database Credentials
    description: Database credential APIs
  - name: Cloud Permission
    description: Cloud permission and service account APIs
  - name: Users
    description: Current user and user search APIs
  - name: Services
    description: Service access APIs
  - name: Test Connection
    description: Test connection request, result, logical database, and confirmation APIs
  - name: Actuator
    description: Monitor and interact
    externalDocs:
      description: Spring Boot Actuator Web API Documentation
      url: https://docs.spring.io/spring-boot/docs/current/actuator-api/html/
paths:
  /install/v1/target-sources/{targetSourceId}/resources/credential:
    put:
      tags:
        - Database Credentials
      summary: Update resource credential for target source
      operationId: updateResourceCredential
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateCredentialResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/scan:
    post:
      tags:
        - Scan Jobs
      summary: Start cloud resource scan
      description: Initiates an asynchronous scan of cloud resources for the specified target source ID
      operationId: startScan
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '202':
          description: Accepted
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScanJobResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/pii-agent-installation/confirm:
    post:
      tags:
        - Target Sources
      summary: Confirm PII agent installation
      description: Confirms the installation of PII agent for the specified target source ID
      operationId: confirmPiiAgentInstallation
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PiiAgentInstallationConfirmRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TargetSourceResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-requests:
    post:
      tags:
        - Approval Requests
      summary: Create approval request
      description: Create a new approval request for resource integration
      operationId: createApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestInputDto'
        required: true
      responses:
        '200':
          description: Approval request created successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalRequestSummaryDto'
        '400':
          description: Invalid input data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Target source not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict - pending request already exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-requests/reject:
    post:
      tags:
        - Approval Requests
      summary: Reject approval request
      description: Reject the latest pending approval request
      operationId: rejectApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRejectRequestDto'
        required: true
      responses:
        '200':
          description: Approval request rejected successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalActionResponseDto'
        '400':
          description: Invalid input data or request status
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No pending request found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict - request already processed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-requests/cancel:
    post:
      tags:
        - Approval Requests
      summary: Cancel approval request
      description: Cancel the latest pending approval request
      operationId: cancelApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Approval request cancelled successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalActionResponseDto'
        '400':
          description: Invalid request status
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No pending request found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict - request already processed or applying in progress
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-requests/approve:
    post:
      tags:
        - Approval Requests
      summary: Approve approval request
      description: Approve the latest pending approval request
      operationId: approveApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalApproveRequestDto'
      responses:
        '200':
          description: Approval request approved successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalActionResponseDto'
        '400':
          description: Invalid request status
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No pending request found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict - request already processed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /install/v1/target-sources/{targetSourceId}/approval-requests/system-reset:
    post:
      tags:
        - Approval Requests
      summary: System reset approval request
      description: Reset approval request from REJECTED/UNAVAILABLE status to IDLE status due to system rejection
      operationId: systemResetApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Approval request system reset successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalActionResponseDto'
        '400':
          description: Invalid request status or no request to reset
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No approval request found to reset
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict - request is not in REJECTED or UNAVAILABLE status
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/services/{serviceCode}/target-sources:
    post:
      tags:
        - Target Sources
      summary: Create target source with infrastructure info
      description: |
        선택 된 서비스가 사용하는 인프라/DB 정보를 등록합니다.
        - Add to List를 통해 입력한 정보를 List에 추가할 수 있습니다
        - List에 추가된 인프라를 일괄 등록합니다
        - 선택된 Provider를 기반으로 인프라 정보 입력 필드가 동적으로 생성됩니다
        - PII 모니터링 모듈 연동 방식은 입력된 provider, DB 정보 기준으로 자동 판정됩니다
        - AWS Agent에 한해서 연동 방식(자동/수동) 선택 가능하고, Default값은 AWS Agent(자동)입니다
      operationId: createTargetSourceWithInfra
      parameters:
        - name: serviceCode
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTargetSourceWithInfraRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TargetSourceInfo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/users/search:
    get:
      tags:
        - Users
      operationId: searchUsers
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: excludeIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/user/services/page:
    get:
      tags:
        - Services
      operationId: getUserServices
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: query
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageServiceItem'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/user/me:
    get:
      tags:
        - Users
      operationId: getUserMe
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserMeResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}:
    get:
      tags:
        - Target Sources
      summary: Get target source detail
      description: Get detailed information of target source by ID
      operationId: getTargetSourceDetail
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TargetSourceDetail'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/secrets:
    get:
      tags:
        - Database Credentials
      operationId: getTargetSourceSecrets
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecretResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/scanJob/latest:
    get:
      tags:
        - Scan Jobs
      summary: Get latest scan status
      description: Retrieves the status of the most recent scan job for the specified target source ID
      operationId: getLatestScan
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScanJobResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/scan/history:
    get:
      tags:
        - Scan Jobs
      summary: Get scan history
      description: Retrieves the scan history for the specified target source ID
      operationId: getScanHistory
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageScanJobResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/resources:
    get:
      tags:
        - Resource Recommendations
      summary: Get recommended resources for target source
      description: Fetches recommended cloud resources (AWS/GCP/Azure) for the specified target source ID
      operationId: getRecommendedResources
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudResourceResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/process-status:
    get:
      tags:
        - Installation Status
      summary: Get process status for target source
      description: Fetches the process status for the specified target source ID
      operationId: getProcessStatus
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProcessStatusResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/gcp/terraform-service-account:
    get:
      tags:
        - Cloud Permission
      summary: Terraform Execution Service Account 정보 조회
      description: 대상 소스에 등록된 Terraform Execution Service Account의 설정 정보 및 검증 상태를 조회합니다.
      operationId: getGcpTerraformServiceAccount
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GcpServiceAccountInfoResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/gcp/scan-service-account:
    get:
      tags:
        - Cloud Permission
      summary: Scan Service Account 정보 조회
      description: 대상 소스에 등록된 Scan Service Account의 설정 정보 및 검증 상태를 조회합니다.
      operationId: getGcpScanServiceAccount
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GcpServiceAccountInfoResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/gcp/installation-status:
    get:
      tags:
        - Installation Status
      summary: Gcp 통합 설치 상태 조회
      description: 대상 소스의 설치 상태를 조회합니다.
      operationId: getGcpInstallationStatus
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GcpInstallationStatusResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/confirmed-integration:
    get:
      tags:
        - Installation Status
      summary: Get confirmed integration information
      description: Retrieves the confirmed integration information for the specified target source ID
      operationId: getConfirmedIntegration
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConfirmedIntegrationResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/azure/scan-app:
    get:
      tags:
        - Cloud Permission
      summary: Azure App 스캔 정보 조회
      description: 지정된 타겟 소스 ID에 대한 Azure App 스캔 정보를 조회합니다.
      operationId: getAzureScanApp
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AzureServicePrincipalVerificationResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/azure/installation-status:
    get:
      tags:
        - Installation Status
      summary: Azure 통합 설치 상태 조회
      description: 대상 소스의 설치 상태를 조회합니다.
      operationId: getInstallationStatus
      parameters:
        - name: targetSourceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AzureInstallationStatusResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approved-integration:
    get:
      tags:
        - Approval Requests
      summary: Get approved integration
      description: Get the approved integration information
      operationId: getApprovedIntegration
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Approved integration retrieved successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovedIntegrationResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No approved integration found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-requests/latest:
    get:
      tags:
        - Approval Requests
      summary: Get latest approval request
      description: Get the latest approval request for the target source
      operationId: getLatestApprovalRequest
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Latest approval request retrieved successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovalHistoryItemDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No approval request found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/target-sources/{targetSourceId}/approval-history:
    get:
      tags:
        - Approval Requests
      summary: Get approval history
      description: Get approval history with pagination
      operationId: getApprovalHistory
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 10
          example: 10
      responses:
        '200':
          description: Approval history retrieved successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Target source not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /install/v1/target-sources/{targetSourceId}/resource-health:
    get:
      tags:
        - Installation Status
      summary: Get resource health status
      description: Get health status of all resources for the specified target source
      operationId: getResourceHealth
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          description: Filter by health status
          required: false
          schema:
            type: string
            enum:
              - HEALTHY
              - UNHEALTHY
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceHealthDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /install/v1/target-sources/{targetSourceId}/pii-agent-installation/comment:
    parameters:
      - name: targetSourceId
        in: path
        required: true
        schema:
          type: integer
          format: int64

    get:
      tags: [Target Sources]
      summary: Get PII agent installation comment
      description: 관리자가 첨부한 PII Agent 설치 완료 여부 comment를 조회합니다.
      operationId: getPiiAgentInstallationComment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiiAgentCommentDto'
        '404':
          description: Comment not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

    post:
      tags: [Target Sources]
      summary: Add PII agent installation comment
      description: 관리자가 PII Agent 설치 완료 여부에 대한 comment를 첨부합니다.
      operationId: addPiiAgentInstallationComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PiiAgentCommentRequestDto'
        required: true
      responses:
        '200':
          description: Comment added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiiAgentCommentDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /install/v1/target-sources/{targetSourceId}/test-connection:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'
    post:
      tags: [Test Connection]
      summary: 연결 테스트 실행 (비동기)
      operationId: requestTestConnection
      x-expected-duration: "1m ~ 10m"
      x-polling-interval: "10s"
      description: |
        선택된 리소스에 대해 연결 테스트를 비동기로 시작합니다.
        요청 즉시 `202 Accepted`를 반환하며, 실제 테스트는 백그라운드에서 진행됩니다.

        **polling 방식**: `GET /test-connection/latest`로 status가 `PENDING`이 아닐 때까지 조회합니다.

        **중복 방지**: 이미 PENDING 상태의 테스트가 존재하면 `409 Conflict`를 반환합니다.
      responses:
        '202':
          description: 연결 테스트 요청 수락됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionTriggerResponse'
              example:
                success: true
                id: "tc-20260218-001"
        '400':
          description: "연결 테스트 가능한 상태가 아님"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                error: { code: "VALIDATION_FAILED", message: "연결 테스트가 필요한 상태가 아닙니다." }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/TargetSourceNotFound'
        '409':
          description: "이미 진행 중인 연결 테스트가 존재함"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                error: { code: "CONFLICT_IN_PROGRESS", message: "현재 연결 테스트가 진행 중입니다." }

  /install/v1/target-sources/{targetSourceId}/test-connection/results:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'
      - name: page
        in: query
        required: false
        schema: { type: integer, default: 0 }
        description: "페이지 번호 (0부터 시작)"
      - name: size
        in: query
        required: false
        schema: { type: integer, default: 10 }
        description: "페이지 당 항목 수"
    get:
      tags: [Test Connection]
      summary: 연결 테스트 결과 목록 조회 (Pagination)
      operationId: getTestConnectionResults
      x-expected-duration: "50ms"
      description: |
        해당 Target Source의 모든 연결 테스트 결과를 최신순으로 페이지네이션 조회합니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionResultsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/TargetSourceNotFound'

  /install/v1/target-sources/{targetSourceId}/test-connection/latest:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'
    get:
      tags: [Test Connection]
      summary: 가장 최근 결과 조회 (성공/실패 무관)
      operationId: getLatestTestConnection
      x-expected-duration: "50ms"
      description: |
        해당 Target Source의 가장 최근 연결 테스트 결과를 조회합니다 (상태 무관).
        **polling 용도**: POST 후 이 엔드포인트를 주기적으로 호출하여 `status`가 `PENDING`이 아닌지 확인합니다.
        테스트 이력이 없으면 `404`를 반환합니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: "Target Source를 찾을 수 없거나, 연결 테스트 이력이 없음"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              examples:
                target_source_not_found:
                  summary: Target Source 없음
                  value:
                    error: { code: "TARGET_SOURCE_NOT_FOUND", message: "해당 ID의 Target Source가 존재하지 않습니다." }
                no_test_record:
                  summary: 테스트 이력 없음
                  value:
                    error: { code: "TEST_CONNECTION_NOT_FOUND", message: "연결 테스트 이력이 없습니다." }

  # 1. 연동 제외 논리 DB 경로 수정
  /install/v1/target-sources/{targetSourceId}/excluded-logical-databases:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'
      - $ref: '#/components/parameters/ResourceId'

    get:
      tags: [Test Connection]
      summary: 연동 제외 논리 DB 목록 조회
      operationId: getExcludedLogicalDatabases
      description: |
        특정 리소스(resourceId)에 설정된 연동 제외 논리 DB 목록을 조회합니다.
        resourceId는 Query Parameter로 전달됩니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludedLogicalDatabasesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Test Connection]
      summary: 연동 제외 논리 DB 목록 업데이트
      operationId: updateExcludedLogicalDatabases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExcludedLogicalDatabasesRequest'
      responses:
        '200':
          description: 업데이트 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludedLogicalDatabasesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # 2. TC 결과 논리 DB 조회 경로 수정
  /install/v1/target-sources/{targetSourceId}/tested-logical-databases:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'
      - $ref: '#/components/parameters/ResourceId'

    get:
      tags: [Test Connection]
      summary: 마지막 Test Connection 결과 논리 DB 목록 조회
      operationId: getTestedLogicalDatabases
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestedLogicalDatabasesResponse'
        '404':
          $ref: '#/components/responses/TestedLogicalDatabaseNotFound'

  # 3. TC 완료 확인 경로 수정
  /install/v1/target-sources/{targetSourceId}/test-connection-confirmation:
    parameters:
      - $ref: '#/components/parameters/TargetSourceId'

    put:
      tags: [Test Connection]
      summary: Test Connection 완료 확인 설정/롤백
      operationId: updateTestConnectionConfirmation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTestConnectionConfirmationRequest'
      responses:
        '200':
          description: 업데이트 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionConfirmationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /install/v1/target-sources/services/{serviceCode}:
    get:
      tags:
        - Target Sources
      summary: Get target sources by service code
      description: Get target sources list by service code (Azure type only)
      operationId: getTargetSourcesByServiceCode
      parameters:
        - name: serviceCode
          in: path
          description: Service code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TargetSourceDetail'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/services/{serviceCode}/authorized-users:
    get:
      tags:
        - Services
      summary: Get service authorized users
      description: Retrieve users authorized to access the specified service
      operationId: getServiceAuthorizedUsers
      parameters:
        - name: serviceCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthorizedUsersResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/v1/infra/target-sources/{targetSourceId}/azure-private-link-health-check:
    get:
      tags:
        - Installation Status
      summary: Azure Private Link Health Check 조회
      description: 지정된 Target Source ID에 대한 Azure Private Link의 건강 상태를 조회합니다
      operationId: getAzurePrivateLinkHealthCheck
      parameters:
        - name: targetSourceId
          in: path
          description: Target source ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AzureHealthCheckResult'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/actuator:
    get:
      tags:
        - Actuator
      summary: Actuator root web endpoint
      operationId: links
      responses:
        '200':
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/actuator/metrics:
    get:
      tags:
        - Actuator
      summary: Actuator web endpoint 'metrics'
      operationId: metrics
      responses:
        '200':
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
            application/json:
              schema:
                type: object
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/actuator/metrics/{requiredMetricName}:
    get:
      tags:
        - Actuator
      summary: Actuator web endpoint 'metrics-requiredMetricName'
      operationId: metrics-requiredMetricName
      parameters:
        - name: requiredMetricName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
            application/json:
              schema:
                type: object
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/actuator/health:
    get:
      tags:
        - Actuator
      summary: Actuator web endpoint 'health'
      operationId: health
      responses:
        '200':
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
            application/json:
              schema:
                type: object
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /install/actuator/health/**:
    get:
      tags:
        - Actuator
      summary: Actuator web endpoint 'health-path'
      operationId: health-path
      responses:
        '200':
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
            application/json:
              schema:
                type: object
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '502':
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    ErrorMessage:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 EARLY_HINTS
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
        path:
          type: string
    UpdateCredentialRequest:
      type: object
      properties:
        resourceId:
          type: string
        credentialId:
          type: string
    UpdateCredentialResponse:
      type: object
      properties:
        success:
          type: boolean
    ScanJobResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        scan_status:
          type: string
          enum:
            - SCANNING
            - FAIL
            - CANCELED
            - SUCCESS
            - TIMEOUT
        target_source_id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        scan_version:
          type: integer
          format: int32
        scan_progress:
          type: integer
          format: int32
        duration_seconds:
          type: number
          format: float
        resource_count_by_resource_type:
          type: object
          additionalProperties:
            type: integer
            format: int64
        scan_error:
          type: string
          enum:
            - AUTH_PERMISSION_ERROR
            - RATE_LIMIT
            - NETWORK_ERROR
            - SERVICE_ERROR
            - UNKNOWN
    PiiAgentInstallationConfirmRequest:
      required:
        - confirm
      type: object
      properties:
        confirm:
          type: boolean
    ServiceInfoRefinedResponse:
      type: object
      properties:
        code:
          type: string
        serviceName:
          type: string
        abbr:
          type: string
        installed:
          type: boolean
        isEosService:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    TargetSourceResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        serviceInfo:
          $ref: '#/components/schemas/ServiceInfoRefinedResponse'
        serviceType:
          type: string
        division:
          type: string
        cloudProvider:
          type: string
          enum:
            - AWS
            - GCP
            - AZURE
            - IDC
            - UNKNOWN
        state:
          type: string
          enum:
            - CREATED
            - CONFIRMED
            - PROVISIONING
            - ACTIVE
            - CONFIRM_FAILED
            - PROVISION_FAILED
            - DESTROY_FAILED
        supportRawData:
          type: boolean
        description:
          type: string
        cloudResourceAccessList:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        confirmStatus:
          type: string
          enum:
            - IDLE
            - PENDING
            - UNAVAILABLE
            - CONFIRMING
            - RESOURCE_CLEANING
            - RESOURCE_CLEAN_FAILED
            - CONFIRMED
        piiAgentInstalledAt:
          type: string
          format: date-time
    ApprovalRequestInputDto:
      type: object
      properties:
        resource_inputs:
          type: array
          items:
            $ref: '#/components/schemas/ResourceInputDto'
      description: Approval request input data
    ResourceConfigDto:
      type: object
      properties:
        resource_id:
          type: string
        resource_type:
          type: string
        database_type:
          type: string
        port:
          type: integer
          format: int32
        host:
          type: string
        oracle_service_id:
          type: string
        network_interface_id:
          type: string
        ip_configuration:
          type: string
        credential_id:
          type: string
        database_region:
          type: string
        resource_name:
          type: string
        scan_status:
          type: string
          enum:
            - UNCHANGED
            - NEW_SCAN
        integration_status:
          type: string
          enum:
            - INTEGRATED
            - NOT_INTEGRATED
    ResourceInputDto:
      type: object
      properties:
        resource_id:
          type: string
        selected:
          type: boolean
        resource_input:
          $ref: '#/components/schemas/ResourceConfigDto'
        exclusion_reason:
          type: string
    ActorDto:
      type: object
      properties:
        user_id:
          type: string
    ApprovalRequestSummaryDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        target_source_id:
          type: integer
          format: int64
        status:
          type: string
          enum:
            - PENDING
            - APPROVED
            - AUTO_APPROVED
            - REJECTED
            - CANCELLED
            - UNAVAILABLE
            - CONFIRMED
        requested_by:
          $ref: '#/components/schemas/ActorDto'
        requested_at:
          type: string
          format: date-time
        resource_total_count:
          type: integer
          format: int32
        resource_selected_count:
          type: integer
          format: int32
    ApprovalRejectRequestDto:
      required:
        - reason
      type: object
      properties:
        reason:
          type: string
      description: Rejection reason
    ApprovalActionResponseDto:
      type: object
      properties:
        request_id:
          type: integer
          format: int64
        status:
          type: string
          enum:
            - PENDING
            - APPROVED
            - AUTO_APPROVED
            - REJECTED
            - CANCELLED
            - UNAVAILABLE
            - CONFIRMED
        processed_by:
          $ref: '#/components/schemas/ActorDto'
        processed_at:
          type: string
          format: date-time
        reason:
          type: string
    ApprovalApproveRequestDto:
      type: object
      properties:
        comment:
          type: string
      description: Approval comment (optional)
    CreateTargetSourceRequest:
      type: object
      properties:
        description:
          type: string
        cloudProvider:
          type: string
        awsAccountId:
          type: string
        awsRegionType:
          type: string
        tenantId:
          type: string
        subscriptionId:
          type: string
        gcpProjectId:
          type: string

    CreateTargetSourceWithInfraRequest:
      type: object
      properties:
        description:
          type: string
        provider_type:
          type: string
          enum:
            - AWS
            - Azure
            - GCP
            - IDC
            - On-prem
            - Other_Cloud
            - SaaS
        provider_details:
          $ref: '#/components/schemas/ProviderDetails'
        database_type_list:
          type: array
          items:
            type: string
        cloud_provider:
          type: string
          enum:
            - AWS
            - GCP
            - AZURE
            - IDC
            - SDU
        auto_install:
          type: boolean
    TargetSourceInfo:
      type: object
      properties:
        targetSourceId:
          type: integer
          format: int64
        description:
          type: string
        cloudProvider:
          type: string
          enum:
            - AWS
            - GCP
            - AZURE
            - IDC
            - UNKNOWN
        createdAt:
          type: string
          format: date-time
        serviceCode:
          type: string
        updatedAt:
          type: string
          format: date-time
        metadata:
          $ref: '#/components/schemas/TargetSourceMetadata'
    TargetSourceMetadata:
      type: object
      properties:
        tenant_id:
          type: string
        subscription_id:
          type: string
        gcp_project_id:
          type: string
        aws_account_id:
          type: string
    UserInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    UserSearchResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserInfo'
    PageServiceItem:
      type: object
      properties:
        totalPages:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/ServiceItem'
        number:
          type: integer
          format: int32
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        empty:
          type: boolean
    PageableObject:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortObject'
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        unpaged:
          type: boolean
    ServiceItem:
      type: object
      properties:
        service_code:
          type: string
        service_name:
          type: string
        division:
          type: string
        business_entity:
          type: string
        related_systems:
          type: array
          items:
            type: string
        managers:
          type: array
          items:
            type: string
        database_type_list:
[...]
